.CreateToDoButton {
  background-color:#AEE2FF;
  box-shadow: 4px 8px 0px #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 68px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-weight: 900;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  z-index: 4;
  transform: rotate(0);
  transition: .4s ease-in-out
}
.CreateToDoButton:hover {
  transform: rotate(225deg);
  box-shadow: 0px 0px 0px 4px #000000;
}
img {
  z-index: -1;
  position: absolute;
}
.cube1 {
  width: 400px;
  height: 400px;
  top: 670px;
  right: 120%;
}
.worm1 {
  width: 400px;
  height: 400px;
  top: 100px;
  right: 120%;
  rotate: 318deg;
}
.cube2 {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 70px;
  right: 12%;
  transform: scaleX(-1);
}
.worm2 {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 643px;
  right: 15%;
  rotate: 38deg;
  transform: scaleX(-1);
}


@media (max-width: 930px) {
  .CreateToDoButton {
    height: 60px;
    width: 60px;
    top: 20px;
    right: 20px;
    font-size: 59px;
  }
  img {
    z-index: -1;
    position: fixed;
  }
  .worm1 {
    width: 200px;
    height: 200px;
    top: calc(100% - 855px);
    right: calc(100% - 132px);
  }
  .cube1 {
    width: 200px;
    height: 200px;
    top: calc(100% - 336px);
    right: calc(100% - 132px);
  }
  .worm2 {
    width: 200px;
    height: 200px;
    top: calc(100% - 269px);
    left: calc(100% - 132px);
  }
  .cube2 {
    width: 200px;
    height: 200px;
    top: calc(100% - 692px);
    left: calc(100% - 132px);
  }
}