.CreateToDoButton {
  background-color:#AEE2FF;
  box-shadow: 0px 0px 16px #ACBCFF;
  border:none;
  border-radius:50%;
  cursor:pointer;
  font-size:50px;
  position:fixed;
  bottom:24px;
  right:24px;
  font-weight:700;
  color:#000000;
  display:flex;
  justify-content:center;
  align-items:center;
  height:64px;
  width:64px;

  transform:rotate(0);
  transition:.3s ease
}
.CreateToDoButton:hover {
  transform:rotate(224deg)
}