.ToDoCounter {
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 0px 40px 16px;
  font-weight: normal;
  width: calc(100% - 62px);
  max-width: 650px;
}
.bold {
  font-weight: bold;
}

.bar {
  width: calc(100% - 40px);
  height: 30px;
  background-color: #d447fb;
  margin: 12px auto;
  border: 2px solid;
  border-radius: 10px;
}
.progress {
  height: 100%;
  background: linear-gradient( to right, #d92e7f , orange  );
  border-radius: 8px;
}


@media (max-width: 930px) {
  .ToDoCounter {
    padding: 12px 2px 0px;
    background-color: rgba(73, 178, 235, 0.803);
    border: #000000 solid;
    border-radius: 1.5rem;
    margin-bottom: 20px;
    width: calc(100% - 12px);
  }
  .bar {
    margin: 12px 18px 20px;
  }
}