.ToDoSearch:hover {
  position: relative;
  box-shadow: 5px 14px 0px #000000;
}
.ToDoSearch:focus {
  outline-color: #d92e7f;
} 

.search-container {
  position: relative;
  transition: 0.6s;
  display: flex;
  position: relative;
  width: 85%;
  padding-bottom: 16px;
}
.search-container:hover {
  transform: translateY(-6px);
  position: relative;
}
.search-container input {
  width: 100%;
  max-width: 500px;
  height: 2.8rem;
  border-radius: 2rem;
  border: 1.5px solid #000000;
  text-indent: 1em;
  font-style: italic;
  font-size: 16px;
  box-shadow: 4px 16px 8px rgba(32, 35, 41, 0.15);
  transition: 0.6s;
  text-align: center; 
  margin: 0 auto; 
  padding-right: 2rem; 
  position: relative; 
}
.search-container .search-icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 38%;
  right: 2rem; 
  transform: translateY(-50%); 
}
